[submodule "Lab1_Assignment1/Lab1_Assignment1/Intermediate-Computer-Programming-projects"]
	path = Lab1_Assignment1/Lab1_Assignment1/Intermediate-Computer-Programming-projects
	url = https://github.com/Furairah3/Intermediate-Computer-Programming-projects.git
